port: 7890
socks-port: 7891
allow-lan: true
mode: Rule
log-level: debug
external-controller: :9090
external-ui: /ui

dns:
  enable: true
  enhanced-mode: redir-host
  ipv6: false
  nameserver:
    - 119.29.29.29
    - 45.90.28.57
    - 223.5.5.5
  fallback:
    - 114.114.114.114
    - tls://8.8.8.8:853
  fallback-filter:
    geoip: true
    ipcidr:
      - 240.0.0.0/4

proxies: ~

proxy-groups:
  - name: SELECT
    type: select
    proxies:
      - UT
      - JP
      - HK
      - DIRECT
  - url: http://www.gstatic.com/generate_204
    interval: 3600
    name: UT
    type: url-test
    proxies:
      - "all"
  - url: http://www.gstatic.com/generate_204
    interval: 3600
    name: JP
    type: url-test
    proxies:
      - "jp"
  - url: http://www.gstatic.com/generate_204
    interval: 3600
    name: HK
    type: url-test
    proxies:
      - "hk"

rules:
  # Local Area Network
  - DOMAIN-SUFFIX,local,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,17.0.0.0/8,DIRECT
  - IP-CIDR,100.64.0.0/10,DIRECT

  # GeoIP
  - DOMAIN-SUFFIX,jp,JP
  - DOMAIN-KEYWORD,dmm,JP
  - GEOIP,JP,JP
  - DOMAIN-KEYWORD,google,HK
  - DOMAIN-KEYWORD,clubhouse,HK
  - DOMAIN-KEYWORD,oculus,HK
  - DOMAIN-KEYWORD,facebook,HK
  - DOMAIN-KEYWORD,hentai,HK
  - DOMAIN-KEYWORD,binance,HK
  - GEOIP,HK,HK
  - GEOIP,CN,DIRECT

  # 自定义
  - MATCH,SELECT

# 兼容
Proxy: ~
ProxyGroup: ~
Rule: ~